.container {
  display: flex;
  background-color: #302e26;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  height: 296px;
  margin-top: auto;
  justify-content: center;
  @media (max-width: 1000px) {
    height: auto;
  }
}

.content {
  width: 1440px;
  padding: 40px 92px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    padding: 20px 46px;
  }

  @media (max-width: 760px) {
    padding: 10px 23px;
  }

  @media (max-width: 580px) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  @media (max-width: 460px) {
    display: flex;
    flex-direction: column;
  }
}
.navigation {
  @media (max-width: 580px) {
    display: flex;
    gap: 15px;
  }
  @media (max-width: 460px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.navigation a {
  &:hover {
    color: #c29e74;
  }
}
.logo {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
  display: block;

  @media (max-width: 580px) {
    margin: 0;
  }
}

.firstLineNavigation,
.secondLineNavigation {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  @media (max-width: 760px) {
    gap: 12px;
  }
  @media (max-width: 580px) {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  @media (max-width: 460px) {
    align-items: center;
  }
}
.thirdLineNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  @media (max-width: 760px) {
    margin-top: 24px;
  }
  @media (max-width: 580px) {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }
  @media (max-width: 460px) {
    justify-content: center;
    align-items: center;
  }
}
.offer {
  display: flex;
  text-decoration: underline;

  justify-content: center;
}
.paymentsLogo {
  display: flex;
  align-items: center;
  gap: 16px;
  @media (max-width: 580px) {
    display: flex;
    margin-top: auto;

    margin-bottom: 10px;
    justify-content: center;
  }
  @media (max-width: 460px) {
    justify-content: center;
    margin-top: 15px;
  }
}
