.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  padding: 120px 92px 100px;
  width: 1440px;
  @media (max-width: 1000px) {
    padding: 60px 46px 50px;
  }
  @media (max-width: 760px) {
    padding: 30px 23px 25px;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 30px;
  }
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 122px;
  @media (max-width: 1000px) {
    width: 100%;
    margin-right: 66px;
  }
  @media (max-width: 750px) {
    margin-right: 33px;
  }
}
.navTitleActive {
  width: 302px;
  height: 48px;
  padding: 12px 24px;
  align-items: flex-start;
  background: #c29e74;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    font-size: 18px;
    line-height: 26px;
    padding: 6px 12px;
  }
}
.navTitle {
  width: 302px;
  height: 48px;
  padding: 12px 24px;
  align-items: flex-start;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}

.questionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px 24px;
  background: #c29e74;
  color: white;
  max-width: 832px;
  @media (max-width: 1000px) {
    padding: 12px 6px;
  }
  &:hover {
    background-color: black;
    color: white;
  }
}

.question {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.questionCard {
  display: flex;
  flex-direction: column;
}

.answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  max-width: 832px;
  cursor: pointer;
  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
  &:hover {
    transform: scale(1.06);
    transition: ease-in-out 220ms;
  }
}

.closeIcon {
  cursor: pointer;
  @media (max-width: 750px) {
    height: 30px;
    width: 30px;
  }
  @media (max-width: 500px) {
    height: 34px;
    width: 34px;
  }
}

.openIcon {
  cursor: pointer;
  transform: rotate(90deg);
  transition: ease-in-out 1s;
  @media (max-width: 750px) {
    height: 30px;
    width: 30px;
  }
  @media (max-width: 500px) {
    height: 34px;
    width: 34px;
  }
}
