.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  position: static;
  z-index: 100;
  background-color: white;
  justify-content: center;

  @media (max-width: 760px) {
    height: auto;
  }
}

.content {
  padding: 20px 20px 20px 92px;
  width: 1440px;
  display: flex;
  align-items: center;

  @media (max-width: 1020px) {
    padding: 10px 46px;
  }

  @media (max-width: 760px) {
    padding: 5px 23px;
  }
}

.logo {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin-right: auto;
  @media (max-width: 1090px) {
    margin: 0 auto;
  }
}

.navigation_list {
  display: flex;
  list-style-type: none;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;

  @media (max-width: 1090px) {
    display: none;
  }
}

.navigationListMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  color: white;
  max-width: 260px;
  padding: 75px 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  font-weight: 400;
  line-height: 24px;
}
.navigationListMenu li,
.navigation_list li {
  cursor: pointer;
}

.navigationListMenu li {
  &:hover {
    background-color: #c29e74;
  }
}
