@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f5f5;
  color: #252525;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #252525;
    background-color: #f5f5f5;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: rgba(37, 37, 37, 0.6);
  padding: 25px;
}

:hover {
  transition-duration: 220ms;
}

/*Navbar and burger menu in HEADER*/

.burgerMenuWrapper {
  display: none;
}
@media (max-width: 1090px) {
  .burgerMenuWrapper {
    position: fixed;
    top: 15px;
    right: 5px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
  }
}

@media (max-width: 760px) {
  .burgerMenuWrapper {
    top: 1px;
    right: 13px;
  }
}
.burgerMenuContainer {
  width: 48px;
  height: 48px;
  align-items: center;
}
.burgerMenuCircle {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.burgerMenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 14px;
  right: 10px;
  width: 28px;
  z-index: 999;
}

.burgerBar {
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 0.5em;
  z-index: 99999;
}

.menu {
  background-color: black;
}
/*sliding menu*/
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/*animations*/
/*clicked*/
.burgerBar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
  transition: ease-out 0.5s;
}
.burgerBar.clicked:nth-child(2) {
  transform: scale(0.01);
  transition: ease-out 0.5s;
}
.burgerBar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-5px, 6px);
  transition: ease-out 0.5s;
}

/*unclicked*/
.burgerBar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
