.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  padding: 120px 92px 100px;
  width: 1440px;
  @media (max-width: 1000px) {
    padding: 60px 46px 50px;
  }
  @media (max-width: 760px) {
    padding: 30px 23px 50px;
    gap: 30px;
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 122px;
  @media (max-width: 1350px) {
    margin-right: 66px;
  }

  @media (max-width: 750px) {
    margin-right: 33px;
  }
}
.navTitleActive {
  width: 302px;
  height: 48px;
  padding: 12px 24px;
  align-items: flex-start;
  background: #c29e74;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    font-size: 18px;
    line-height: 26px;
    padding: 6px 12px;
  }
}
.navTitle {
  width: 302px;
  height: 48px;
  padding: 12px 24px;
  align-items: flex-start;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.textTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 750px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 750px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}
.contactsWrapper ul {
  list-style-type: none;
}

.map {
  border: none;
  outline: none;

  display: flex;
  margin-top: 64px;
  max-width: 800;
  max-height: 320;

  @media (max-width: 1200px) {
    width: auto;
  }
}
